<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Transforme seu Negócio com a Genesis</h2>
                <hr class="light">
                <p class="text-faded">Automatize, otimize e escale com soluções inteligentes que reduzem custos, aumentam a eficiência e liberam tempo para o que realmente importa.</p>
                <a href="#contact" class="btn btn-default btn-xl wow tada">Conheça nossas soluções</a>
            </div>
        </div>
    </div>
</section>
