<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Entre em Contato</h2>
                <hr class="primary">
                <p>Pronto para levar o seu negócio para o próximo nível? Fale conosco e descubra como a Genesis pode transformar a sua empresa!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://www.instagram.com/genesissolutions.ai/"><i class="fa fa-instagram fa-3x text-primary wow bounceIn" data-wow-delay=".2s"></i></a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="mailto:aigenesissolutions@gmail.com"><i class="fa fa-envelope-o fa-3x text-primary wow bounceIn" data-wow-delay=".2s"></i></a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://api.whatsapp.com/send?phone=5566992453447"><i class="fa fa-whatsapp fa-3x text-primary wow bounceIn" data-wow-delay=".2s"></i></a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://www.linkedin.com/company/solutionsgenesis/"><i class="fa fa-linkedin fa-3x text-primary wow bounceIn" data-wow-delay=".2s"></i></a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://x.com/GenesisAi56981"><i class="fa fa-twitter fa-3x text-primary wow bounceIn" data-wow-delay=".2s"></i></a>
            </div>
        </div>
    </div>
</section>