<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/atendimentos.png" alt="automações de atendimento" class="img-fluid" style="max-width: 500px;" >
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Atendimento</div>
                            <div class="project-name">Automação de Atendimentos</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/vendas.png" alt="automação de vendas" class="img-fluid" style="max-width: 500px;" >
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Vendas</div>
                            <div class="project-name">Automação de Vendas</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/agendamentos.png" alt="agendamentos automáticos" class="img-fluid" style="max-width: 500px;" >
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Agendamentos</div>
                            <div class="project-name">Automação de Agendamentos</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/agentes.png" alt="agentes de IA" class="img-fluid" style="max-width: 500px;" >
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Agentes Inteligentes</div>
                            <div class="project-name">Integração com IA e ChatGPT</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/integracoes.png" alt="integrações com sistemas" class="img-fluid" style="max-width: 500px;" >
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Sistemas</div>
                            <div class="project-name">Integração com CRMs e Gestão</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/automacoes.png" alt="ecossistema de automações" class="img-fluid" style="max-width: 500px;" >
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Automatização</div>
                            <div class="project-name">Ecossistema de Processos</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #portfolio .portfolio-box {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 300px; /* Mantém os cards com altura uniforme */
    }
    #portfolio .portfolio-box i {
        margin-bottom: 15px;
    }
</style>
